{# templates/accueil/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Simulateur pour votre installation photovoltaique
{% endblock %}

{% block body %}
	{% set flashMess = app.flashes('success') %}
	{% if flashMess is not empty %}
		<div class="alert alert-success">
			{{ flashMess[0] }}
		</div>
	{% endif %}
	<section class="container my-3">
		<div class="row justify-content-center">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-6">
						<h2>Simulation</h2>
						{{ form_start(form) }}
						{{ form_row(form.nom) }}
						{{ form_row(form.prenom, {'attr': {'class': 'form-control mb-3'}}) }}
						{{ form_row(form.longueurToiture, {'attr': {'class': 'form-control mb-3'}}) }}
						{{ form_row(form.largeurToiture, {'attr': {'class': 'form-control mb-3'}}) }}
						{{ form_row(form.montantFacture, {'attr': {'class': 'form-control mb-3'}}) }}
						<div class="d-flex justify-content-center align-items-center">
							<button type="submit" class="btn btn-outline-success p-3 mt-3">Valider</button>
						</div>
						{{ form_end(form) }}
					</div>
					<div class="col-md-6">

						{% if depart_nBP is defined %}
							<h2>Résultats</h2>
							<div class="alert alert-success mt-3">
								Vous avez besoin de
								{{ depart_nBP }}
								panneaux photovoltaiques pour une installation permettant de réaliser 70% d'économie sur votre facture annuelle.
							</div>

							<div class="alert alert-success mt-3">
								La surface actuelle de votre toiture est de
								{{ SurfaceToiture }}
								m².
							</div>
						{% endif %}

						{% if result is defined and result != 70 %}
							<div class="alert alert-success mt-3">
								Vous pouvez installer au maximum
								{{ nBP }}
								panneaux photovoltaiques sur votre toiture. Votre économie est estimée à
								{{ result }}
								%.
							</div>
						{% endif %}

						{% if result is defined and result == 70 %}
							<div class="alert alert-success mt-3">
								Vous pouvez installer tous les panneaux nécessaires sur votre toiture.
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
